{% extends "base.html" %}

{% block content %}
	<h2>Dashboard</h2>
	<hr />
	{% if downtime_list %}
	<div class="alert alert-danger" role="alert">
		<h3>Current Outages</h3>
		<ul>
			{% for downtime in downtime_list %}
			<li>{{ downtime.monitor.name }} is experiencing an outage.</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	<form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" name="droid"><span class="glyphicon glyphicon-refresh"></span> Run Droid</button>
    </form>	
	<h4>Monitors</h4>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>URL</th>
			<th>Current State</th>
		</tr>
		{% for monitor in monitor_list %}
		<tr>
			<td><a href="{% url 'monitor_info' monitor.id %}">{{ monitor.name }}</a></td>
			<td>{{ monitor.url }}</td>
			<td>{% if monitor.current_state.up %}<i style="color:green" class="fa fa-arrow-circle-o-up"></i>{% else %}<i style="color:red" class="fa fa-arrow-circle-o-down"></i>{% endif %}</td>
		</tr>
		{% empty %}
			<tr>
				<td colspan="3"><p>There are no monitors. Add one.</td>
			</tr>
		{% endfor %}
	</table>
{% endblock content %}