{% extends "base.html" %}

{% block content %}
	<h2>Dashboard</h2>
	<hr />
	<h4>Current Outages</h4>
	<h4>Monitors</h4>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>URL</th>
			<th>Current State</th>
		</tr>
		{% for monitor in monitor_list %}
		<tr>
			<td>{{ monitor.name }}</td>
			<td>{{ monitor.url }}</td>
			<td>{% if monitor.current_state.up %}<i style="color:green" class="fa fa-arrow-circle-o-up"></i>{% else %}<i style="color:red" class="fa fa-arrow-circle-o-down"></i>{% endif %}</td>
		</tr>
		{% empty %}
			<tr>
				<td colspan="3"><p>There are no monitors. Add one.</td>
			</tr>
		{% endfor %}
	</table>
{% endblock content %}