{% extends "base.html" %}
{% load timedelta %}

{% block content %}
	<h2>{{ monitor.name }} - {{ monitor.url }}</h2>
	<hr />
	
	<h4>Checks</h4>
	{% if grouped_history_list %}
	<table id="example" class="table table-striped">
		<thead>
		<tr>
			<th>Start</th>
			<th>End</th>
			<th>Time in state</th>
			<th>Latency (avg)</th>
			
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		{% for gh in grouped_history_list %}
		<tr>
			<td>{{ gh.start.capture }}</td>
			<td>{{ gh.end.capture }}</td>
			<td>{{ gh.span|timedelta }}</td>
			<td>{% if gh.start.up %}{{ gh.avg_latency }}{% endif %}</td>
			
			<td>{% if gh.start.up %}<i style="color:green" class="fa fa-arrow-circle-o-up"></i>{% else %}<i style="color:red" class="fa fa-arrow-circle-o-down"></i>{% endif %}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>This monitor has <strong>no history</strong>.</p>
	<p>To begin monitoring a website, run <code>python manage.py install</code> to install the necessary cron jobs. See the <a href="https://github.com/ajrbyers/mondroid/blob/master/README.md"><code>README.txt</code></a> for more information.</p>
	{% endif %}

{% endblock content %}2
