{% extends "base.html" %}
{% load timedelta %}

{% block content %}
	<h2>{{ monitor.name }} - {{ monitor.url }}</h2>
	<hr />
	<h4>Up Time</h4>
	<div class="progress">
	  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ uptime_percentage.tfh_history }}%">
	    <span>Last 24 hours {{ uptime_percentage.tfh_history|truncatechars:8 }}%</span>
	  </div>
	</div>
	<div class="progress">
	  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{ uptime_percentage.lw_history }}%">
	    <span>Last 7 days {{ uptime_percentage.lw_history|truncatechars:8 }}</span>
	  </div>
	</div>
	<div class="progress">
	  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ uptime_percentage.lm_history }}%">
	    <span>Last 28 days {{ uptime_percentage.lm_history|truncatechars:8 }}%</span>
	  </div>
	</div>
	<div class="progress">
	  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{ uptime_percentage.ly_history }}%">
	    <span>Last 365 days {{ uptime_percentage.ly_history|truncatechars:8 }}%</span>
	  </div>
	</div>
	
	<h4>History</h4>
	{% if grouped_history_list %}
	<table id="example" class="table table-striped">
		<thead>
		<tr>
			<th>Start</th>
			<th>End</th>
			<th>Time in state</th>
			<th>Latency (avg)</th>
			
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		{% for gh in grouped_history_list %}
		<tr>
			<td>{{ gh.start.capture }}</td>
			<td>{{ gh.end.capture }}</td>
			<td>{{ gh.span|timedelta }}</td>
			<td>{% if gh.start.up %}{{ gh.avg_latency }}{% endif %}</td>
			
			<td>{% if gh.start.up %}<i style="color:green" class="fa fa-arrow-circle-o-up"></i>{% else %}<i style="color:red" class="fa fa-arrow-circle-o-down"></i>{% endif %}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>This monitor has <strong>no history</strong>.</p>
	<p>To begin monitoring a website, run <code>python manage.py install</code> to install the necessary cron jobs. See the <a href="https://github.com/ajrbyers/mondroid/blob/master/README.md"><code>README.txt</code></a> for more information.</p>
	{% endif %}

{% endblock content %}2
