{% extends "base.html" %}

{% block content %}
	<h2>{{ monitor.name }} - {{ monitor.url }}</h2>
	<hr />

	<h4> Checks</h4>
	<table id="example" class="table table-striped">
		<thead>
		<tr>
			<th>Status Code</th>
			<th>History</th>
			<th>Time Elapsed</th>
			<th>Time Captured</th>
			<th>Up?</th>
		</tr>
		</thead>
		<tbody>
		{% for check in check_list %}
		<tr>
			<td>{{ check.status_code }}</td>
			<td>{{ check.history }}</td>
			<td>{{ check.elapsed_time }} ms</td>
			<td>{{ check.capture }}</td>
			<td>{% if check.up %}<i style="color:green" class="fa fa-arrow-circle-o-up"></i>{% else %}<i style="color:red" class="fa fa-arrow-circle-o-down"></i>{% endif %}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock content %}