<p><a href="{{ outage.monitor.url }}">{{ outage.monitor.name }}</a> is experiencing an outage</p>
<table style="font-family: verdana,arial,sans-serif;font-size:11px;color:#333333;border-width: 1px;border-color: #666666;border-collapse: collapse;">
	<tr>
		<th style="border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #dedede;">Status</th>
		<th style="border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #dedede;">Date/Time</th>
		<th style="border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #dedede;">Note</th>
	</tr>	
{% for check in outage.checks.all %}	
	<tr>
		<td style="border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #ffffff;">{{ check }}</td>
		<td style="border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #ffffff;">{{ check.capture }}</td>
		<td style="border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #ffffff;"><span style="color:{% if forloop.first %}red;"> Outage Begins{% elif outage.active == False and forloop.last %}green;">Outage Finishes{% else %}orange;">Outage Ongoing{% endif %}</span></td>
	</tr>

{% endfor %}
</table>